.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #6aaff3;
    box-shadow: 0 2px 4px rgba(184, 106, 230, 0.829);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    gap: 5px;
}
.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn{
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu {
    cursor: pointer;
    color: #343a40;
    font-size: 24px;
    display: none; 
}


@media (max-width : 900px) {
    .logo{
        display: none;
    }
    .menu {
        display: block;
    }
    .navBarWrapper {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: #f8f9fa;
        z-index: 50;
        transition: all .5s ease-in;
        background-color: rgb(227, 225, 225);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }   
}
