
.navBar {
    display: flex;
}

.navLinks {
    display: flex;
    align-items: center;
    
}
.navLinks:hover {
    text-decoration: underline;
}

.navLink {
    display: inline-block;
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
